.admin-page-container {
  width: calc(100%-200px);
  margin-left: 200px;
  padding-top: 95px;
  background-color: var(--background);
}

.admin-page-navbar {
  width: 100%;
  padding: 20px 0 0;
  text-align: center;
  > button {
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #eebb02;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  > button:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }
  > button:nth-child(2) {
    border-radius: 0 10px 10px 0;
  }
  button:hover {
    background-color: #eebb02;
    opacity: 0.8;
  }
  button:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
  }
}

.admin-page-title {
  color: #002845;
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
}

.table-container {
  height: 100vh;
  max-width: 1075px;
  padding: 10px 10px 20px;
  overflow: auto;
  margin: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.admin-page-container {
  > h2 {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 95px;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--color2);
    margin: 0;
    color: var(--color1);
    font-weight: bold;
    > span {
      color: #fff;
      margin-right: 5px;
    }
  }
}

.table-head,
.table-body {
  display: grid;
  grid-template-columns: repeat(9, 2fr);
  grid-gap: 5px;
  margin: 20px 20px 10px;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.table-head {
  position: sticky;
  top: 0;
}

.table-details {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  margin: 20px auto;
  justify-content: space-evenly;
  background-color: var(--text-color);
  color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.table-head > h4,
.table-body > h5,
.table-details > h5 {
  overflow-y: scroll;
  width: 100%;
  padding: 0 5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-head > h4 {
  color: #eebb02;
}

// TABEL'S BUTTONS
.table-btn {
  display: block;
}

.table-btn button {
  width: 80%;
  margin: 5%;
  padding: 10px 0;
  outline: none;
  border: none;
  border-radius: var(--border-btn);
  cursor: pointer;
}

.table-btn .incomplete {
  background-color: rgb(230, 86, 74);
  border: 2px solid rgb(230, 86, 74);
  color: #fff;
  transition: 0.5s ease;
  &:hover {
    background-color: rgb(201, 50, 50);
    border: 2px solid rgb(201, 50, 50);
    color: #fff;
  }
}

.table-btn .complete {
  background-color: rgb(90, 216, 131);
  border: 2px solid rgb(90, 216, 131);
  color: #fff;
  transition: 0.5s ease;
  &:hover {
    background-color: rgb(74, 185, 111);
    border: 2px solid rgb(74, 185, 111);
    color: #fff;
  }
}

.table-btn button:nth-child(2) {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background: transparent;
  transition: 0.5s ease;
  &:hover {
    background-color: var(--text-color);
    color: #fff;
  }
}

// RESPONSIVENESS

@media only screen and (max-width: 860px) {
  .admin-page-container {
    width: 100%;
    margin-left: 0px;
    > h2 {
      font-size: 1.4rem;
      width: 100%;
    }
  }
  .admin-page-navbar > button {
    padding: 10px 10px;
    font-size: 10px;
  }

  .table-head,
  .table-body {
    margin: 20px 0px;
    // min-width: 600px;
  }
  .table-head > h4 {
    font-size: 0.3rem;
  }
  .table-body > h5 {
    font-size: 0.2rem;
  }
  .table-btn button {
    font-size: 5px;
    width: 30px;
    padding: 3px;
    margin: 0 10px 3px 0;
    border-radius: 4px;
  }
}
