.navbar-complete {
  position: relative;
  height: 95px;
  width: calc(100% - 200px);
  margin-left: 200px;
  background-color: #002845;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  > h6 {
    position: absolute;
    width: 100%;
    height: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color3);
    color: var(--color2);
    letter-spacing: 1px;
    bottom: 0%;
  }
  > a > img {
    visibility: hidden;
  }
}

/* RESPONSIVENESS */

@media only screen and (max-width: 860px) {
  .navbar-complete {
    width: 100%;
    margin-left: 0px;
    > a > img {
      visibility: visible;
      height: 75px;
      margin: 5px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .navbar-complete {
    > h6 {
      font-size: 6px;
    }
  }
}
