.register-container {
  position: relative;
  width: calc(100% - 200px);
  min-height: 100vh;
  padding-top: 95px;
  margin-left: 200px;
  background-color: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-content {
  margin: 30px 0;
  position: relative;
  width: 80%;
  max-width: 800px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--border-btn);
  background-color: #fff;
}

.register-img {
  width: 70%;
  height: 760px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 10px 10px 0;
  /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}

.register-img img {
  height: 760px;
  -o-object-fit: cover;
     object-fit: cover;
}

.register-form {
  width: 50%;
  padding: 30px 30px 0 10px;
}

.register-card-header {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border-radius: var(--border-btn);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#002845), color-stop(#002845), color-stop(#002845), color-stop(#002845), to(#002845));
  background-image: linear-gradient(to top, #002845, #002845, #002845, #002845, #002845);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

label {
  font-size: 16px;
  color: var(--text1-color);
}

.register-form input,
.show-pass input {
  width: 100%;
  outline: none;
  padding: 10px 0 10px 5px;
  border: none;
  border-radius: var(--border-btn);
  border: 1px solid #7e7e7e4b;
  background: transparent;
  margin: 5px 0 10px 0;
}

.register-form input:focus {
  border: 1px solid #002845;
  width: 100%;
}

.show-pass {
  height: 70px;
  position: relative;
  width: 100%;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  top: 35px;
  right: 5px;
  color: #a3a3a3;
  cursor: pointer;
}

.register-spliter > hr {
  border: none;
  border-bottom: 1px solid rgba(179, 179, 179, 0.685);
  width: 80%;
}

.modal-body {
  width: 80%;
  margin: auto;
}

.register-err {
  height: 30px;
}

.register-err > h5 {
  margin: 0;
  color: var(--err-color);
}

.register-submit-btn {
  padding: 10px;
  width: 103%;
  outline: none;
  border: 1px solid #002845;
  border-radius: var(--border-btn);
  background-color: transparent;
  cursor: pointer;
  color: #002845;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px auto 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.register-submit-btn:hover {
  background-color: #002845;
  color: white;
}

.register-footer-text {
  font-size: 14px;
  color: var(--text1-color);
}

.register-footer-text a {
  color: #002845;
  font-weight: bold;
  text-decoration: none;
}

.register-footer-text a:hover {
  text-decoration: underline;
}

.register-form > p {
  font-size: 12px;
  color: var(--text2-color);
  font-style: italic;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  color: var(--text2-color);
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 1;
  width: 1;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #002845;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 860px) {
  .register-container {
    width: 100%;
    margin-left: 0px;
  }
  .navbar-register > h6 {
    font-size: 6px;
  }
  .register-img {
    display: none;
  }
  .register-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .register-form {
    width: 90%;
    max-width: 300px;
    padding: 10px 10px 0 10px;
  }
  .register-content {
    max-width: 500px;
  }
  .register-card-header {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=Register.css.map */