.products-container {
  width: calc(100% - 200px);
  min-height: 100vh;
  margin-left: 200px;
  padding-top: 95px;
  background: var(--background);

  .category-title > h3 {
    margin: 10px 0 0;
    color: #eebb02;
    text-align: center;
  }
}

.products-subcat {
  padding: 20px 25px;
  color: #002845;
  div > h4 {
    position: relative;
    margin: 0;
    font-size: 20px;
  }
  div > hr {
    border: none;
    border-bottom: 0.5px solid #d4d4d49e;
  }
  > h4:last-child {
    text-align: center;
  }
}

.products-sections1,
.products-sections2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  padding: 50px;
  justify-content: space-evenly;
  align-content: space-evenly;
}

// VIEW SETTINGS
.products-sections2 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  padding: 30px 10px;
}

.view-filter {
  width: 100%;
  text-align: center;
  > i {
    margin: 10px;
    font-size: 20px;
    color: var(--color3);
    background-color: #d1d1d1;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--border-btn);
    &:hover {
      background-color: #b6b6b6;
    }
  }
}

.activ {
  border: 1px solid var(--color2);
}

// RESPONSIVENESS

@media only screen and (max-width: 860px) {
  .products-container {
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 500px) {
  .view-filter {
    display: none;
  }
}

// GRID

@media only screen and (max-width: 1850px) {
  .products-sections1 {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 1550px) {
  .products-sections1 {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 1150px) {
  .products-sections1 {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .products-sections1 {
    grid-template-columns: auto;
  }

  .products-sections2 {
    grid-template-columns: auto auto;
  }
}
